.sss-client .card {
    padding: 0px;
    width: 98%;
}

.card {
    padding: 0px;
    min-width: 100% !important;
}

@media screen and (min-width: 992px) {
    .wp-scraper--container {
        margin-right: 15px;
    }
}

@media screen and (max-width: 992px) {
    .wp-scraper--container {
        margin-right: 5px;
    }
}

@media screen and (max-width: 992px) {
    .wp-scraper--header #blurp {
        display: none;
    }
}

.wp-scraper--header {
    background: #3d3f4b;
    color: #ffffffeb;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    padding: 15px;
    height: 46px;
    position: fixed;
    width: 100%;
    top: 31px;
    z-index: 1001;
}


.sss-client {
    margin-top: 10px;
    padding-left: 20px;
}

li.nav-item a:focus {
    box-shadow: none;
}

.tab-pane {
    padding-top: 0 !important;
}

.vgt-wrap__footer .footer__row-count__select {
    width: 35px;
}




/*  exp */

.wrp-select-post-type label {
    display: block;
}

.wrp-select-post-type select {
    display: block;
    margin-bottom: 20px;
}



/* CHAT */


/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
 .wrp-container{
	height: calc(100% - 70px);
	font-family: 'Alef', sans-serif;
	font-size: 16px;
	line-height: 1.5em;
	overflow: auto;
	color : #000;
	width: 90%;
	margin: auto;
	height: 45vh;
	padding-right: 13px;
}


.wrp-chat-widget {
    z-index: 9999 !important;
}

.wrp-chat-widget-header.show {
	background: #182165;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.wrp-chat-widget-header.hidden {
	background: transparent;
}

.wrp-chat-widget-header {
	height: 45px;
	padding-top: 10px;
	padding-right: 25px;
}

.wrp-chat-view.hidden{
    display: none;
}

.wrp-chat-view.show{
    display:block;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
	background: #e1e1e1;
}

.wrp-chat-bubble {
	display: flex;
}

.wrp-chat-bubble.me {
	justify-content: end;
}
	
.wrp-chat-bubble.me p {
	background: #393a3e;
	color: #efecec;
	padding: 10px;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.wpr-msg--date {
	display: block;
}

.wrp-chat-bubble.other p {
	background: rgb(219, 220, 224);
	color: #343030;
	padding: 10px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-top-right-radius: 15px;
}

.wrp-toggle-chat {
    float: right;
    background: #363682;
    padding: 10px;
    border-radius: 20px;
    color: #fdfdfd;
    cursor: pointer;
    border: none;
    margin-bottom: 15px;
}

.wrp-chat-widget {
    width: 400px;
    position: fixed;
    right: 10px;
    bottom: 10px;
}


.message {	
	padding: 10px;
	text-align: left;
	opacity: 0;
}
.message:after,.message:before{
	content: '';
	clear: both;
}
.me {
	text-align: right;
}
.content {
	text-align: left;
	max-width: 90%;
	border-radius: 20px;
	padding: 20px;
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	-moz-box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	box-shadow: 1px 1px 2px 0px rgba(170,170,170,1);
	word-wrap: break-word;
}
.content:before{
	content: '';
	border-top : 10px solid transparent;
	border-bottom : 10px solid transparent;
	border-right : 20px solid #E3E4E9;
	border-left: none;
	position: absolute;
	left: -20px;
	top : calc(50% - 10px);
}
.info{
	padding: 5px;
	color : #666;
}
.me .content{
	background-color : #4a85dd;
	color : #fff;	
}
.me .content:before{
	border-top : 10px solid transparent;
	border-bottom : 10px solid transparent;
	border-left : 20px solid #4a85dd;
	border-right : none;
	left: 100%;
}
.tool-menu{
	border: 1px solid #e2e2e2;
	padding: 10px;
	position : relative;
	vertical-align: top;
	background-color: white;
}
.tool-menu .chat,.tool-menu .send{
	border : 1px solid #aaa;
	background : none;
	height: 35px;
	font-size: 16px;
	display: inline-block;
}
.tool-menu *:focus{
	outline: none;
}
.tool-menu .chat{
	margin: 0 20px;
	width: calc(100% - 180px);
	border-radius : 20px;
	transition : border-radius 0.2s linear;
}
.tool-menu .chat:focus{
	border-radius : 5px;
}
.tool-menu .button{
	background-color: #a3d063;
	border: 2px solid #a3d063;
	color: #000;
	cursor: pointer;
	transition: all 0.2s, background-color 0.2s, border-radius 0.2s linear;
	border-radius: 20px;	
}
.tool-menu .button:hover,.tool-menu .button:active,.tool-menu .button.active{
	background-color: #fff;	
	border-radius: 5px;	
}


#wpr-chat-session {
    margin: 15px;
    cursor: pointer;
}

.wpr-conversations  {
	display: flex;
  }

  .wpr--notifications {
	background: #c9dfda;
	width: 50%;
	border-radius: 5px;
	padding: 5px;
  	padding-left: 5px;
  	padding-bottom: 10px;
	margin-bottom: 15px;
	font-weight: 500;
	padding-left: 15px;
  }

  .wpr-pause-ai--btn, .wpr-resume-ai--btn, .wpr-hide-chat--btn, .wpr-unhide-chat--btn, .wpr-delete-chat--btn {
	padding: 10px;
	background: #bdaddb;
	color: #362d48;
	border: none;
	border-radius: 2px;
	font-weight: 500;
	cursor: pointer;
  }

  .wpr-hide-chat--btn, .wpr-unhide-chat--btn{
	background: #584779;
	color: #e5e3e9;
  }

  .wpr-delete-chat--btn {
	background: #dfc84e;
	color: #3f1c11;
  }
  
  .wpr-conversations  .wpr-chat-sidebar--user {
	background: #f1eef2c9;
	border-radius: 5px;
	margin-bottom: 10px;
	border-bottom: 0.5px solid #ddd;
	padding: 6px;
  }

  .wpr-conversations  > .wpr-chat-sidebar {
	background: #e5e1ed;	
	padding: 15px;
	border-radius: 5px;
  }

  .wpr-chat-view--header {
	margin-bottom: 10px;
	border-bottom: solid #666;
	padding-bottom: 15px;
  }

  .wpr-conversations  > .wpr-chat-view {
	flex: 1 2 auto;
	margin-right: 15%;
	margin-left: 15px;
  }
  
  /* Media query for small screens */
  @media screen and (max-width: 768px) {
	.wpr-conversations  > .wpr-chat-view { 
		margin-left: 15px;
		margin-right: 15px;
	}

	.wpr-conversations  > .wpr-chat-sidebar,
	.wpr-conversations  > .wpr-chat-view {
	  flex-basis: 100%;
	}

	.wpr-conversations {
		flex-wrap: wrap;
	}

	.wpr--notifications {
		width: 100%;
	}
  }




.wpr-chat-view-messages {
	height: 60vh;
	overflow-y: scroll;
}
